/*glass-effect*/
.glass-effect {
    background: rgba(255, 255, 255, 0.2); /* White background with opacity */
    backdrop-filter: blur(10px); /* Blur effect */
    -webkit-backdrop-filter: blur(10px); /* For Safari */
    border: 1px solid rgba(255, 255, 255, 0.18); /* Optional: adds a slight border */
  }
/*moving-text*/
@keyframes slideIn {
    0% {
      transform: translateX(-30vw);
    }
    100% {
      transform: translateX(100vw);
    }
  }
  
  .moving-text {
    display: inline-block; /* Required for the text to move within the container */
    animation: slideIn 20s linear infinite running;
  }

/*Carousel swiping*/

.swiper {
  width: 80%;
  height: 55%;

}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #bfd9dd22;
  border: 4px solid rgba(84, 82, 82, 0.441);
border-radius: 3%;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;

}
.horizontal-spacing {
  margin-top: 25px;
  border-radius: 3%; /* Adjust the value as needed */
}


.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}

.swiper-v {

  background: #dbe3e422;
}
